# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# FastAPI
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo
.idx

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic
alembic.ini

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

